html * {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    background-color: black;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

#main {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    align-content: center;
    padding: 10px 30px;
    border-radius: 25px;
}

a:link, a:visited, a:active {
    color: white;
}

a:hover {
    color: blue;
}